<!DOCTYPE html>
<html ng-app="gifGenerator">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css"></link>
    <title>Random GIF Generator</title>
  </head>
  <body>
    <div ng-controller="showGif" id="main">
      <h1>GIF Generator</h1>
      <h2>Want a totally random one?</h2>
      <button ng-click="getGif()" id="getGIF">Generate Random!</button>
      <h2>Want some control?</h2>
      <div id="search">
        Keyword Search:
        <input type="text" ng-model="keyword" placeholder="Keyword" id="tagKey"/>
        <button ng-click="searchGif(keyword)">Generate!</button>
      </div>
      <hr class="line">
      <div id="imageHolder">
        <img ng-src={{gif}} />
      </div>
    </div>
  </body>
</html>
